/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8


- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #4caf4f;
  --secondary: #263238;
  --selver: #f5f7fa;
  --d-gray: #4d4d4d;
  --white: #fff;
  --padding-top: 3.2rem;
  --padding-bottom: 1.2rem;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  transition: all 0.5s;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: var(--d-gray);

  overflow-x: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

a:hover, a:focus {
  color: var(--primary);
}

h3 {
  font-size: 3.2rem;
  
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  
    font-weight: 600;
    margin: 2.2rem 2.2rem 4.2rem 0;
    line-height: 1.2;
    color: #263238;
}

h2 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2;
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
}

h4 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3;
  padding-bottom: var(--padding-bottom);
}

h5 {
  font-size: 1.4rem;
  padding: 1.2rem 0;
  color: var(--primary);
  line-height: 1.5;
 
}

h6 {
  font-size: 1rem;
  font-weight: 400;
  color: #89939E;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  padding-bottom: var(--padding-bottom);
}

.center {
  text-align: center;
}

.btn {
  color: var(--white);
  font-size: 1.2rem;
  background-color: var(--primary);
  padding: 1rem 2.8rem;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #237d31;
  box-shadow: 2px 2px 2px 0px rgba(13, 85, 10, 0.5);
}

.btn-secondary {
  font-weight: 600;
  border: none;
  border-bottom: 1px solid transparent;
  color: var(--primary);
  background-color: transparent;
  cursor: pointer;
  padding: .1rem .2rem;
}

.btn-secondary:hover{
  border-color:  var(--primary);
  background-color: var(--white);
  
}

.arrwo {
  fill: var(--primary) !important;
}

