@media (max-width: 768px) {
    .container {
      width: 750px;
    }

    html {
      font-size: 55%;}
    .nav-links{
      display: none;
  }

  p {
    font-size: 1.4rem;
  }

  .icon-mobile{
    display: block;
    font-size: 22px;
    cursor: pointer;
  }
  
  .hero-content {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
  }

  .hero-img{display: none;}

}
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
    
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  