:root {
  --primary: #4caf4f;
  --secondary: #263238;
  --selver: #f5f7fa;
  --d-gray: #4d4d4d;
  --white: #fff;
  --padding-top: 3.2rem;
  --padding-bottom: 1.2rem;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 7rem;
  padding: 1.6rem 2.4rem;
  background-color: var(--white);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.151);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

nav a {
  color: var(--d-gray);
  font-size: 1.2rem;
  padding: 1rem;
}

nav a:hover {
  background: var(--selver);
}

.nav-show {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 7rem;
  padding: 1.6rem 2.4rem;
  background-color: var(--white);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.151);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.icon-mobile {
  display: none;
}
@media (max-width: 768px) {
  .container {
    width: 750px;
  }

  .icon-mobile {
    display: block;
  }
}

.hero-section {
  background-color: var(--selver);
  margin-top: 7rem;
}

.hero-content {
  /* height: 80vh; */
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 10rem;
  padding: 12.8rem 0;
}

.hero-text h1 {
  font-size: 4.4rem;
  font-weight: 600;
  margin: 2.2rem 2.2rem 4.2rem 0;
  line-height: 1.2;
  letter-spacing: 1px;
}

h1 span {
  color: var(--primary);
}
.hero-text p {
  font-weight: 400;
  margin-bottom: 2.2rem;
}

.logos {
  display: flex;
  justify-content: space-between;
  gap: 7rem;
  align-items: center;
  flex-wrap: wrap;
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-top);
}

.logos img {
  display: block;
}

/* .logos img {
 
} */

/* Community Section */
.community-cards {
  padding: var(--padding-bottom);
}

.community-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
   gap :2.4rem;
}

.card div {
  padding: 2.4rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
 
  width: 25rem;
  height: 25rem;
  padding: 0 1.2rem;
  /* border: 1px solid var(--selver); */
  box-shadow: 0px 1.39214px 2.78428px 0px rgba(171, 190, 209, 0.20);
}

.img-container {
  position: relative;
}

.img-container::before {
  content: "";
  background-color: #e8f5e9;
  width: 34px;
  height: 34px;
  position: absolute;
  left: 35px;
  bottom: 20px;
  z-index: -1;
  border-radius: 10px 0;
}
/* End Community Section */

/* Seen Section */
.seen-section {
  display: grid;
  grid-template-columns: 1.5fr 1.8fr;
  align-items: center;
  justify-content: center;
  padding: var(--padding-top);
}

/* End Seen Section */

/* Number Section */
.number-section {
  background-color: var(--selver);
  padding: var(--padding-top) 0;
}

.number-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.number-text span {
  color: var(--primary);
}

.numbers-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3.2rem;
  width: 40%;
}

.number-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.2rem;
}

.number-card h4 {
  padding-bottom: 0;
}

/* End Number Section */

/* Design Section */
.design-section {
  display: grid;
  grid-template-columns: 1.5fr 1.8fr;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  padding: var(--padding-top)
}

/* End Design Section */

/* Tesla Section */
.tesla-section {
  background-color: var(--selver);
}
.tesla-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
  padding-top: var(--padding-top);
}
.tesla-content .logos {
  gap: 3.2rem;
}

.tesla-img img {
  width: 27rem;
}

/* End Tesla Section */

/* Market Section */

.market-section {
  padding-bottom:  3.2rem;
}



.market-text h5 {
  color: #717171;
  padding-bottom: 2rem;
}
/* End Market Section */

.market-box {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  ;
}

.market-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 28rem;
  padding-bottom: 8rem;
}

.market-img img {
  width: 100%;
}


.market-text {
  width: 23rem;
  background-color: var(--selver);
  border-radius: 5px;
  box-shadow: 0px 5.56856px 11.13711px 0px rgba(171, 190, 209, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 0 1.2rem;
  position: absolute;
  transform: translate(0%, 77%);
  z-index: 1;
  background-color: #fff;
}

/* Section End */
.end-section {
  height: 40vh;
  background-color: var(--selver);
}

/* End Section End */

/* Footer */
footer {
  background-color: var(--secondary);
  color: var(--white);
  padding: var(--padding-top) 0;
}

footer p {
  color: var(--selver) !important;
  font-weight: 400;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin-top: 2.4rem;
}

/* .img-footer{} */

.social svg {
  margin-right: 0.8rem;
  transition: all 0.5s;
}

.other-footer {
  display: flex;
  justify-content: space-between;
  width: 55%;
}

.other-footer h4 {
  margin-bottom: 0.8rem;
}
.other-footer p {
  padding-bottom: 0.8rem;
}
.other-footer a {
  color: var(--selver);
}
.other-footer a:hover {
  color: var(--primary);
}

form{
  position: relative;
}

input {
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 8px;
  background-color: var(--d-gray);
  color: var(--selver);
}
input::placeholder{
  color:#D9DBE1;
  font-size: 1.4rem;
}

.telegram-icon {
  position: absolute;
  transform: translate(160px, 9px);
}

/* End Footer */
